/* Import sass helper files */

//import _variables.scss file
@import "variables";

//import _mixins.scss file
@import "mixins";

/* Resets */
html, body {
    overflow-x: hidden;
}

body {
    font-size: 16px;
}

// .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
//     float: none;
// }

/* To deal with a CSS feature in which parents whose children are all floated have zero height. A.K.A the "clearfix" hack */

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix {
    zoom: 1;
}

/* IE6 */

*:first-child + html .clearfix {
    zoom: 1;
}

/* IE7 */

/* Default Styling */

body {
    font-family: $myriad-pro;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    color: white;
    border: none;
    border-radius: 6px;
    padding-right: 15px;
}

p {
    margin-bottom: 0;
}

/* Global Helper Classes */
.blue-text {
    color: $headline-blue;
}

.container-fluid {
    padding: 0;
}

/* Header */

#top-header {
    color: #fff;
    width: 100%;

    ul {
        align-items: center;
        display: inline-flex;
        padding-top: 15px;
        padding-bottom: 10px;
        margin-top: 0;
        margin-bottom: 0;

        li {
            border-right: 1px solid $thin-blue-border;
            list-style-type: none;
            padding: 0 10px;
        }
    }

    .top-header--light-blue-strip {
        background-color: $top-header-blue;

        .col-md-4 {
            float: right;
        }

        &__text {
            font-weight: bold;
            height: 30px;
            padding-top: 5px;
        }

        &__icon {
            padding-left: 12px;
            padding-right: 12px;

            img {
                height: 30px;
            }
        }
    }

    .top-header--dashed-blue-strip {
        /* Creates alternating dashes on a blue background. Idea for this came from https://css-tricks.com/stripes-css/ */
        background: repeating-linear-gradient(-55deg, #174972, #134670 10px, #174972 10px, #134670 20px);
        display: flex;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;

        &__icon-container {
            // position: relative;
            margin: 0 auto;
            width: 85%;

            #half-triangle {
                display: none;
            }

            @media screen and (min-width: 375px) {
                width: 72%;
            }

            @media screen and (min-width: 425px) {
                width: 63%;
            }

            @include breakpoint($screen-lg-min) {
                position: relative;
                top: 22px;
                width: auto;

                #half-triangle {
                    position: absolute;
                }
            }


            img {
                background: url(images/Icon--shadow.png);
                background-position: center bottom;
                background-size: cover;
                background-repeat: no-repeat;
                padding: 2px 10px;
                transition: 0.5s ease-out;

                &:hover {
                    filter: hue-rotate(80deg);
                    -webkit-filter: hue-rotate(80deg);
                    -moz-filter: hue-rotate(80deg);
                    -o-filter: hue-rotate(80deg);
                    -ms-filter: hue-rotate(80deg);
                }
            }
        }
    }

    .top-header--dark-blue-strip {
        display: none;

        @include breakpoint($screen-lg-min) {
            background: url(../images/circle-shadows.png);
            background-position: center 10px;
            background-repeat: no-repeat;
            background-color: $top-header-dark-blue;
            display: block;
            min-height: 40px;
        }
    }
}

/* Content - main part of the page */

.content {
    padding-top: 15px;

    .dashboard-bar {
        background-color: $light-green;
        border-radius: 5px;
        color: #fff;
        display: block;

        @include breakpoint($screen-lg-min) {
            display: flex;
            align-items: center;
        }


        h2 {
            text-align: center;

            @include breakpoint($screen-lg-min) {
                float: left;
                padding-left: 20px;
            }
        }

        form {
            border: none;
            display: block;
            margin: 0 auto;
            padding-bottom: 20px;
            position: relative;
            width: 200px;

            @include breakpoint($screen-lg-min) {
                margin-left: auto;
                margin-right: 40px;
            }


            input {
                border-radius: 3px;

                @include breakpoint($screen-lg-min) {
                    float: right;
                    position: absolute;
                    left: 0;
                    top: 10px;
                    width: 230px;
                }
            }

            img {
                float: right;
                position: relative;
                top: -30px;
                right: 10px;

                @include breakpoint($screen-lg-min) {
                    left: 24px;
                    top: 13px;
                }
            }
        }
    }

    .dashboard-container > * {
        background-color: #fff;
    }

    .dashboard-container {
        border: 1px solid #f5f5f5;

        // box-shadow: -1px 4px 10px 1px rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        background: linear-gradient(#f7f7f7, #fff);

        /* An awesome new property in CSS3. Credit goes to https://css-tricks.com/almanac/properties/b/box-shadow/ for teaching me how to use the property, and what the different parameters mean */
        margin-top: 20px;
        padding-top: 15px;

        /* To show the grey background */
        .row {
            margin: 0 auto;

            /* Remove extra horizontal padding on mobile */
            [class*="col"] {
                padding-left: 0;
                padding-right: 0;
            }
        }

        &__announcements-row {
            border-bottom: 1.5px solid #eeeeee;

            &__headline {
                color: $orange;
                text-transform: uppercase;
                text-align: center;
                border-bottom: 1.5px solid #eeeeee;
                padding: 20px 0;

                @include breakpoint($screen-lg-min) {
                    border-right: none;
                    border-bottom: none;
                    margin-top: 0;
                }
            }

            &__description {
                text-align: center;
                padding: 0 10px;
                padding-bottom: 10px;

                p {
                    color: #a8a8a8;
                    padding-left: 10px;
                    padding-right: 10px;

                    @include breakpoint($screen-lg-min) {
                        text-align: left;
                        font-size: 0.9em;
                        padding-top: 20px;
                    }
                }

                a {
                    transition: 0.5s ease-out;

                    &:hover {
                        filter: grayscale(1);
                    }
                }
            }

            .col-md-1 {
                text-align: center;

                @include breakpoint($screen-lg-min) {
                    padding-top: 15px;
                }


                a {
                    transition: 0.5s ease-out;

                    &:hover {
                        filter: grayscale(1);
                    }
                }

                padding-top: 10px;
            }

            &__navigation-button {
                height: 30px;
            }
        }

        /* Tasks Section */
        &__tasks {
            color: $headline-blue;

            &__headline {
                text-align: center;

                @include breakpoint($screen-lg-min) {
                    text-align: left;
                    padding-top: 15px;
                }


                h3 {
                    @include breakpoint($screen-lg-min) {
                        display: inline;
                        padding-left: 25px;
                    }
                }

                &__settings-icon {
                    height: 30px;

                    @include breakpoint($screen-lg-min) {
                        float: right;
                    }
                }
            }

            &__list {
                li > * {
                    transition: 0.5s ease-out;
                }

                li {
                    &:first-child {
                        padding-top: 35px;
                    }

                    border-right: 1.5px solid #eeeeee;
                    border-bottom: 1.5px solid #eeeeee;
                    padding: 20px 0;

                    &:hover {
                        img {
                            filter: grayscale(1);
                            transition: 0.5s ease-out;
                        }

                        span {
                            color: $gray;
                            transition: 0.5s ease-out;

                            span {
                                transition: 0.5s ease-out;
                            }
                        }
                    }
                }

                &__number {
                    display: inline-block;
                    height: 40px;
                    margin-left: 10px;
                    margin-right: 15px;
                    width: 40px;
                }

                &__people {
                    border: 1.5px solid #eeeeee;
                    float: right;
                    padding: 5px 10px 2px 10px;
                    margin-right: 10px;
                    min-width: 66px;

                    span {
                        padding-left: 8px;
                    }
                }
            }
        }

        /* Analytics section */
        &__analytics {
            .row {
                position: relative;
            }

            #twitter-popup {
                position: absolute;
                bottom: 95px;
                left: 90px;

                @include breakpoint($screen-lg-min) {
                    position: relative;
                    float: right;
                    top: -130px;
                    bottom: 0;
                    left: 0;
                }
            }

            @include breakpoint($screen-lg-min) {
                padding-top: 20px;
            }


            h3 {
                text-align: center;

                @include breakpoint($screen-lg-min) {
                    display: inline-block;
                    text-align: left;
                    padding-left: 35px;
                    padding-bottom: 20px;
                    margin-top: 0;
                }
            }

            &__activity {
                color: $dark-gray-text;
                text-align: center;

                @include breakpoint($screen-lg-min) {
                    text-align: left;
                }


                h3 {
                    margin-bottom: 20px;
                }

                h4 {
                    font-size: 0.9em;
                    text-transform: uppercase;

                    @include breakpoint($screen-lg-min) {
                        display: inline;
                        padding-left: 45px;
                    }
                }

                .dropdown {
                    border: 1.5px solid #ddd;
                    border-radius: 3px;
                    color: #666;
                    text-align: center;
                    margin: 0 auto;
                    width: 60%;

                    @include breakpoint($screen-lg-min) {
                        float: right;
                        width: 200px;
                    }


                    .date {
                        display: inline-block;
                        height: 24px;
                        padding-top: 10px;
                        margin-bottom: 12px;
                    }

                    .vertical-bar {
                        height: 28px;
                        display: inline-block;
                    }

                    .dropdown-toggle {
                        color: #fe7f13;
                        transition: 0.5s ease-out;

                        /* why isn't this working */

                        // &:hover {
                        //     color: $gray;
                        // }
                   
                    }
                }
            }

            /* Analytics Bar Graph */
            &__bar-graph {
                padding: 20px 0 20px 0;

                @include breakpoint($screen-lg-min) {
                    padding-left: 30px;
                }


                img {
                    height: 200px;

                    @include breakpoint($screen-lg-min) {
                        height: 260px;
                    }
                }
            }

            /* Analytics Pie Chart */
            &__pie-chart {
                padding: 20px 15px 20px 15px;

                @include breakpoint($screen-lg-min) {
                    padding-bottom: 0;
                }


                img {
                    margin: 0px auto;
                    width: 60%;

                    @include breakpoint($screen-lg-min) {
                        height: 285x;
                        width: auto;
                        padding-bottom: 0;
                    }
                }
            }

            /* Social Media Buttons */
            .social-media-container {
                text-align: center;
            }

            &__social-media {
                @include breakpoint($screen-lg-min) {
                    br {
                        display: none;
                    }

                    display: inline;
                }


                width: 250px;
                margin: 0 auto;

                input[type="checkbox"] {
                    display: none;
                }

                input[type="checkbox"] + label span {
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    background: url(../images/box-shadow-checkbox.png) left top no-repeat;
                    vertical-align: middle;
                    cursor: pointer;
                }

                input[type="checkbox"]:checked + label span {
                    width: 24px;
                    height: 28px;
                    background: url(../images/orange-checkmark.png) left top no-repeat;
                }

                .checkbox {
                    height: 30px;
                    width: 25px;
                    display: inline;
                    position: relative;
                    top: 12px;

                    &:hover {
                        cursor: pointer;
                    }
                }

                &__button {
                    margin-bottom: 10px;
                    padding-bottom: 0;
                }

                #facebook-button {
                    background: #114570;
                }

                #twitter-button {
                    background: #2298f4;
                }

                #foursquare-button {
                    background: #3a599b;
                }

                #google-button {
                    background: #31cc66;
                }
            }
        }

        /* Recommendations Section */
        &__recommendations {
            border: 1.5px solid #eee;

            .blue-text {
                text-align: center;
            }

            &__list {
                li {
                    border-bottom: 0.1px dashed #e5e5e5;
                    margin: 0 auto;
                    padding-top: 20px;
                    padding-bottom: 5px;
                    width: 90%;

                    img {
                        float: left;
                        height: 45px;
                        padding: 0 15px;
                    }

                    p {
                        &.small-text {
                            color: #999;
                            margin-bottom: 0;
                        }

                        &:not(.small-text) {
                            color: #777;
                        }
                    }
                }
            }
        }
    }
}

/* Contacts & Customers Section */
.dashboard-container__customers {
    border: 1.5px solid #eee;
    margin-top: -2px;

    &__images {
        padding: 30px 0;

        @include breakpoint($screen-lg-min) {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: center;
        }


        img {
            margin: 0 auto;

            @include breakpoint($screen-lg-min) {
                display: inline-block;
                margin-left: 0;
                margin-right: 0;
                padding: 0 20px;
            }
        }
    }

    &__advertisement-text {
        background-color: $headline-blue !important;
        color: #fff;
        position: relative;

        p {
            margin: 0 auto;
            padding: 25px 20px;
            padding-bottom: 15px;

            @include breakpoint($screen-lg-min) {
                padding-left: 50px;
                padding-right: 50px;
            }


            span {
                display: block;
                text-transform: uppercase;
            }
        }
    }

    &__icons {
        display: flex;
        justify-content: center;
        padding-bottom: 10px;

        i {
            color: #ff9b13;
            padding: 0 15px;
            transition: 0.5s ease-out;

            &:hover {
                color: $gray;
            }

            @include breakpoint($screen-lg-min) {
                display: none;
            }
        }

        .back-button {
            left: -26px;
        }

        .next-button {
            right: -26px;
        }

        img {
            display: none;
            transition: 0.5s ease-out;

            &:hover {
                filter: grayscale(1);
            }

            @include breakpoint($screen-lg-min) {
                display: inline-block;
                position: absolute;
                top: 25%;
            }


            padding: 0 20px;
            transition: 0.5s ease-out;
        }
    }
}

/* CTA Images Section (the three images right above footer) */
.dashboard-container__cta-images {
    border-radius: 18px;
    overflow: hidden;
    padding: 15px 0;

    // #see-what-others {
    //     display: flex;

    //     button {
    //         background-color: #33cc66;
    //     }
    // }

    // padding-left: 15px;
    // padding-right: 15px;
    // padding-bottom: 30px;
    // margin-top: 15px;
    img {
        margin: 0 auto;

        &:nth-child(1) {
            padding-top: 10px;
        }

        &:last-child {
            padding-bottom: 10px;
        }
    }

    .col-md-4 {
        background-color: $headline-blue;
    }
}

#footer {
    background-color: $footer-white;
    width: 100%;

    .gray-strip {
        background: linear-gradient(#f8f8f8, #e9e9e9);
        min-height: 20px;
        width: 100%;
    }

    .container-fluid {
        background-color: #f5f5f5;
        color: #c6c6c6;

        .site-links {
            border-right: 1px solid #dddddd;
            border-bottom: 1px solid #dddddd;

            @include breakpoint($screen-lg-min) {
                border-bottom: none;
                border-right: none;
            }


            display: flex;
            justify-content: center;
            padding: 10px 0;

            a {
                border-right: 1px solid #dddddd;
                color: #c6c6c6;
                padding: 0 20px;
                width: 33%;

                &:first-child {
                    padding-left: 30px;
                }
            }
        }

        .promotion {
            border-bottom: 1px solid #dddddd;
            text-align: center;

            p {
                padding: 10px 0;

                span {
                    font-weight: bold;
                    color: #4baaf3;
                }

                i {
                    color: #4baaf3;
                    font-weight: bold;
                    position: relative;
                    top: 5px;
                    left: 20px;
                }
            }
        }

        .logout-social {
            > * {
                border-right: 1px solid #ddd;
            }

            .logout {
                border-right: 1px solid #ddd;
                color: #4baaf3;
                font-weight: bold;
                text-align: center;

                @include breakpoint($screen-lg-min) {
                    display: flex;
                    padding-top: 10px;
                    align-items: center;
                }
            }

            .social-icons {
                border-right: 1px solid #ddd;
                text-align: center;
                padding-top: 10px;
                position: relative;
                top: 5px;

                img {
                    height: 21px;
                }
            }
        }
    }
}

#no-horizontal-padding {
    @include breakpoint($screen-lg-min) {
        padding-left: 0;
        padding-right: 0;
    }
}